.newsletter3ProductsLeft {
  padding-left: 20px;
}

.newsletter3ProductsCenter {
  padding-left: 10px;
  padding-right: 10px;
}

.newsletter3ProductsRight {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {

  .threeProduct {
    padding-left: 5px;
    padding-right: 5px;
  }

  .newsletter3ProductsLeft .newsletterProductTitle,
  .newsletter3ProductsCenter .newsletterProductTitle,
  .newsletter3ProductsRight .newsletterProductTitle {
    font-size: 16px;
  }

  .newsletter3ProductsLeft {
    padding-left: 10px;
  }

  .newsletter3ProductsCenter {
    padding-left: 5px;
    padding-right: 5px;
  }

  .newsletter3ProductsRight {
    padding-right: 10px;
  }
}

.newsletter3ProductsLeft {
  padding-left: 20px;
}

.newsletter3ProductsCenter {
  padding-left: 10px;
  padding-right: 10px;
}

.newsletter3ProductsRight {
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .newsletter3ProductsLeft {
    padding-left: 10px;
  }

  .newsletter3ProductsCenter {
    padding-left: 5px;
    padding-right: 5px;
  }

  .newsletter3ProductsRight {
    padding-right: 10px;
  }
}

.newsletter3ProdsPeakLeft {
  padding-left: 10px;
  padding-right: 5px;
}

.newsletter3ProdsPeakCenter {
  padding-left: 8px;
  padding-right: 7px;
}

.newsletter3ProdsPeakRight {
  padding-left: 5px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .newsletter3ProdsPeakLeft {
    padding-left: 6px !important;
    padding-right: 3px !important;
  }

  .newsletter3ProdsPeakCenter {
    padding-left: 5px !important;
    padding-right: 4px !important;
  }

  .newsletter3ProdsPeakRight {
    padding-left: 3px !important;
    padding-right: 6px !important;
  }

  .newsletter3ProdsPeakLeft .newsletterProductTitle,
  .newsletter3ProdsPeakCenter .newsletterProductTitle,
  .newsletter3ProdsPeakRight .newsletterProductTitle {
    font-size: 16px !important;
  }
}
